<% @prescreen = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none" class="right-bubble">

  <p>
    <b>Clinic:</b>
    <%= @prescreen.clinic.name %>
  </p>

  <p>
    <b>Cardiologist:</b>
    <%= @prescreen.doctor.name %>
  </p>

<% unless @prescreen.exclusion_name.blank? %>
  <p>
    <b>Exclusion:</b>
    <%= @prescreen.exclusion_name %>
  </p>
<% end %>
</div>
