<% @visit = @object %>
<div id="event_<%= @event.id %>_comments_long" style="display:none" class="right-bubble">
  <% unless @visit.comments.blank? %>
    <dl>
      <dt>Comments</dt>
      <dd><%= simple_format @visit.comments %></dd>
    </dl>
  <% end %>
</div>
