<% @visit = @object %>
<div id="event_<%= @event.id %>_comments_long" style="display:none" class="right-bubble">
  <dl>
    <dt>Creator</dt>
    <dd><%= @visit.user.name %></dd>

    <% unless @visit.comments.blank? %>
      <dt>Comments</dt>
      <dd><%= simple_format @visit.comments %></dd>
    <% end %>
  </dl>
</div>
