table {
  margin-bottom: 0;
}

span.selected {
  background-color: #404040;
  color: white;
  padding: 3px 5px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
}

/* TODO: This fix should be in Contour */
a:link.negative, a:visited.negative {
  color: #D12F19;
}

a:link.positive:link, a:visited.positive {
  color: #529214;
}
